---
layout: default 
---

<br>

I am <p class="ttu tracked">David Horacio Colmenares</p>, Moorman-Simon Assistant Professor of Spanish and Latin American Studies at Boston University. 
My research happens at the intersection of early modern and Mesoamerican studies.

<p>I hold a PhD from the Department of Latin American and Iberian Cultures at Columbia University in the City of New York, and a MA in Philosophy from KU Leuven, Belgium. During 2015-2016, I was a fellow at the <a href="http://www.khi.fi.it/CAHIM">Connecting Art Histories in the Museum</a> program, based in Berlin and run by the <a href="http://www.khi.fi.it/">Kunsthistorisches Institut in Florenz - Max Planck Institute</a> and the <a href="http://www.smb.museum/en/home.html">Staatliche Museen zu Berlin</a>. My research has also been supported by the John Carter Brown Library in Providence, RI, and Dumbarton Oaks (Harvard) in Washington DC.</p>
<p>I'm currently a member of two international research projects: "Itineraries Around an Artifact: the Vatican Codex 3738 and the Intellectual Spheres of the Sixteenth Century" (UNAM/La Sapienza) and "Travesías de la mirada devota: Las imágenes religiosas medievales y sus traslados al Nuevo Mundo" (UNAM).</p>

<br>

{% if page.url contains page.title %}
{% else %}
    <div class="mb3">
        Here are some of my recent activities:
    </div>
{% endif %}

<br>

<div class="fl w-100">
{% for post in site.categories.news %}
    <time class="di-ns f6 ttu tracked gray code">
        {{ post.date | date_to_string }}
    </time>

    <div class="di-ns mb2">
    <a class="link black bold hover-red" href="{{ BASE_PATH }}{{ post.url }}">
        {{ post.title }}
    </a>
        <time class="fl w-100 silver">
        {{ post.excerpt }}
    </time> 
    </div>
{% endfor %}
<br>
<br>
</div>
