---
layout: default 
---
<br>
<div align='center'>
   <img src="/assets/victor-belda-ruiz-velazquez-las-meninas.jpg" alt="meninas"><br/>
</div>
<br>
<br>

I'm <span style="font-variant: small-caps;">david horacio colmenares</span>, Assistant Professor of Comparative Literature, History and Spanish at the University of California, Irvine. 
<br>

I’m an interdisciplinary scholar of Mexico, with an academic background in philosophy (Leuven), art history (Kunsthistorisches Institut in Florenz), Latin American and Iberian studies, and comparative literature (Columbia). My work cuts through traditional fields and across media, as I'm drawn to intellectual problems that challenge clean-cut periodizations, geographies of knowledge, and discipline-bound methodologies. I conceive of this general approach as hermeneutical, looking at the foundational clearings that establish long-lasting forms of discursivity, and reverse-engineering the processes through which meaning, but also historical positivity, is first established. Thus my work is equally drawn to foundational moments and to anomalies, hapax legomena, and one-offs in the archive.

<p> My research has also been supported by the Kunsthistorisches Institut in Florence, the John Carter Brown Library in Providence, RI, and Dumbarton Oaks in Washington DC.</p>

<br>

{% if page.url contains page.title %}
{% else %}
    <div class="mb2">
        Here are some of my recent activities:
    </div>
{% endif %}

<br>

<div class="fl w-100">
{% for post in site.categories.news %}
    <time class="di-ns f6 ttu tracked gray code">
        {{ post.date | date_to_string }}
    </time>

    <div class="di-ns mb2">
    <a class="link black hover-red" href="{{ BASE_PATH }}{{ post.url }}">
        {{ post.title }}
    </a><br>
    </div>
{% endfor %}
</div>
<br>
<br>
