html *
{
    font-family: 'EB Garamond', serif;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    font-kerning: normal;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.nav-link {
    font-weight: 500;
    font-variant: small-caps;
    color: slategray;
    text-decoration: none;
}

.nav-link:hover {
    color: silver;
}

.nav-link.active {
    color: red;
}

article {
   margin-top: 1em;
}

blockquote {
    font-family: Athelas, serif;
    font-size: 1.4rem;
    margin: 0.25rem 0;
    padding: 0.25em 40px;
    line-height: 1.2;
    position: relative;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 5.5rem;
    font-family: Times, serif;
    position: absolute;
    left: -1rem;
    top: -.75rem;
    color: silver;
}

h1,
h2,
h3,
h4 {
    font-size: inherit;
    margin: 0cm 0cm 0cm 0cm;
}

h2 {
    font-weight: bold;
}

ul, ol {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: -.4em;
    list-style-position: outside;
}

ul li {
    list-style-type: circle;
    padding-bottom: .4em;
}

ol li {
    padding-bottom: .4em;
}

p {
    margin-top: 1em;
}


.footnotes ol {
    margin-left: 0em;
}

.footnotes li {
    font-size: .9em;
    padding-bottom: 0em;
}
